$primary-color: #5d43bc;
$success-color: #62c178;
$btn-hover-color: #5764c6;
$primary-light-color: #5d43bc + #123;
$secondary-color: #3656f9;
$selection-hover-color: #f3f4fb;
$font-size: 1.65rem;
$link-color: $secondary-color;
$link-hover-color: $primary-light-color;
